
  /* 
  // <weight>: Use a value from 200 to 800
// <uniquifier>: Use a unique and descriptive class name

.dosis-<uniquifier> {
  font-family: "Dosis", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.roboto-<uniquifier> {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/







/* ======================================================================
   Generic
   ====================================================================== */

   html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /* ======================================================================
   Éléments
   ====================================================================== */

   body{
    font-family: "Dosis", serif;
    margin: 0;
    padding: 0;
    background-color: #E3E4E4;
    
  }

  .wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  /* ======================================================================
   Contenu
   ====================================================================== */

 

  h1{
    color: white;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
 text-align: center;
  }

  h2{

  color: #2FCB48;
  font-family: "Roboto", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-align: center;

  }
  
  h3{
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 8px;
  text-align: left;
  display: block;
  width: 100%;

  }

  p{
    font-family: "Roboto", serif;
    color: #212121;
    font-weight: 400;
    font-size: 16px;
  }

 a{
    text-decoration: none;
    font-weight: 700;
  }

  a:hover{

    background-color: #0E5EA1;
    color: white;
  }

    /* ======================================================================
   Components
   ====================================================================== */

 /*-------HEADER------*/
  
   header{

    background-color: white;
   }

   header ul{

    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0;
    margin-bottom: 0;
   }

   header nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 30px;
    align-items: center;
    padding-left: 0;
    
  
  }

  header nav ul li a {
  display: inline-block;
  height: 40px; 
  line-height: 40px; 
 

  }

  header nav ul li a:hover {
    background-color: #0E5EA1;
    color: white;
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
  }

/*-------HERO------*/

  .hero{
 
  background-image: url(../image/hero.jpg) ;
  padding-top: 166px;
  padding-bottom: 166px;
  background-size: cover;
  
  }

  .hero{

  display: flex;
  justify-content: center;
  align-items: center;
  }

  
/*-------CONTENU------*/

  .contenir{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

  }

  .contenu{

    padding-bottom: 40px;
  }

/*-------ARTICLE------*/
  article{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 320px;
    height: 714px;
    background-color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: #0E5EA1 solid 5px  ;
  }

  article {
  
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    height: 714px; 
    padding-bottom: 20px;
  }

  article a {
    display: block;
    margin-top: auto; 
    padding: 10px 20px;
    background-color: #B7B7B7;
    color: black;
    text-align: center;
    border-radius: 5px;
  }

  article p{

    margin-top: 0;
  }

/*-------FOOTER------*/

footer{

  padding-bottom: 24px;
  padding-top: 24px;
  background-color: #000;
  
}

footer p{

  display: flex;
  color: white;
  justify-content: center;
}

/*-------IMAGE LOGO------*/
.img_left{

  margin-top: 40px;
   float: left;
 }

 /*-------TITRE LOGO------*/

 .titrelogo{ 

  color: #000;
  font-family: "Dosis", serif;
  font-size: 43.34px;
  font-weight: 700;
  line-height: normal;
  padding-right: 266px;
  }

 /*-------TITRE------*/
  .titre{
    width: 455px;
    height: 119px;
    padding: 20px;
    background-color: #0E5EA1;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.60);
    padding-bottom: 120px;
  }
 